body {
    background-image: url("123.jpg");
    /*background-color: #cccccc;*/
}

#banner{
    /*background-image: url("123.jpg");*/
	/*background-color: #AFBF3F;*/
	height: 70px;
	opacity: 70%;
}

#title{
    text-decoration: none !important;
	color: white;
	font-size: 80px;
}
/*
#expertList{
}*/

/*#options{
	height: 150px;
}*/

/*#login{
    padding: 7px;
}*/

#finalSales{
    padding-top: 7px;
}

#signUpPage{
	display: none;
    padding-top: 7px;
}

#logInPage{
	display: none;
    padding-top: 7px;
}

#seller{
	display: inline;
	height: 100px;
	width: 100px;
	margin-right: 100px;
	margin-left: 200px;
}

#expert{
	display: inline;
	height: 100px;
	width: 100px;
	margin-left: 100px;
}



table {
    height:100%; 
    width:80%;
    font-family: verdana, arial, sans-serif;
    font-size: 18px;
    color: #333333;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
}
table th {
    height: 20px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    text-align: center;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}