<!-- <div class="expertPage" ng-controller='expertController'>

  <div id='expertProfile'>
    <span>Welcome {{user.First}}</span>
  </div>

  <div>
    
    <button ng-click='logOut()' style="width:200px;height:70px">Log Out</button>
  </div>

  <div id='userItemList'>
    <label>Search by Price</label><input type="text" name="price" ng-model="price"></input>
    <br>
    <br>
    <li ng-repeat='item in items | filter: price'>
      <h2>{{item.Title}}<h2>
      <p>{{item.Description}}</p>
      <p>Listed Price: {{item.ListPrice}}</p>
      <p>Listed Date: {{item.ListDate}}</p>
      <p>Zip Code: {{item.ZipCode}}</p>
      <span>Accepted Date: {{item.AcceptedDate}}</span>
      <button ng-click='acceptRequest()' style="width:200px;height:40px">Accept Request</button>
    </li>
  </div>
</div>
</div>
 -->
<div class="expertPage" ng-controller='expertController'>
  <!--Expert Profile -->
 <div class="container-fluid well span6">
  <div class="row-fluid">

        <img src="{{imageUrl}}" class="img-circle" height="220" width="220" style="float:left; padding: 30px;">

         
         <div class="span8">
             <h3>{{user.First}}</h3>
             <h4>{{user.Last}}</h4>
             <h4>{{user.Address}}</h4>
             <h4>{{user.Ebay}}</h4>
             <h4>{{user.ZipCode}}</h4>
         </div>
         <button ng-click='logOut()' style="width:200px;height:70px">Log Out</button>

      </div>
 </div>

 <!-- Expert Item information -->

 <div id='expertItemList'>
   <h2>Items Purchased</h2>
   <div ng-repeat='item in expertItems'>
     <div >
       <img src="http://karmatest1.azurewebsites.net/images/{{item.Images[0]}}" width="200" height="200" style="float:left;margin:20px;border:2px solid black">
       <h2>{{item.Title}}</h2>
       <p>{{item.Description}}</p>
       <p>Listed Price: {{item.ListPrice}}</p>
       <p>Listed Date: {{item.ListDate}}</p>
       <p>Zip Code: {{item.Owner.ZipCode}}</p>
       <span>Accepted Date: {{item.AcceptedDate}}</span>
       <button ng-click='acceptRequest(item._id)' style="width:200px;height:40px">Accept Request</button>

     </div>
     <div style="clear:both"></div>
   </div>
 </div>

  <br><br>

<!-- All Item information -->
<div id='userItemList'>
  <h2>Purchase Items</h2>
  <label>Search</label><input type="text" name="price" ng-model="price.$"></input>
  <br>
  <br>
  <div ng-repeat='item in items | filter: price'>
    <img src="http://karmatest1.azurewebsites.net/images/{{item.Images[0]}}" width="200" height="200" style="float:left;margin:20px;border:2px solid black">
    <div >
      <h2>{{item.Title}}</h2>
      <p>{{item.Description}}</p>
      <p>Listed Price: {{item.ListPrice}}</p>
      <p>Listed Date: {{item.ListDate}}</p>
      <p>Zip Code: {{item.Owner.ZipCode}}</p>
      <span>Accepted Date: {{item.AcceptedDate}}</span>
      <button ng-click='acceptRequest(item._id)' style="width:200px;height:40px">Accept Request</button>

    </div>
    <div style="clear:both"></div>
  </div>
</div>

</div>