<div class="expertPage" ng-controller='expertController'>
  <h1>This is the expert Page!!!</h1>

  <div id='expertProfile'>
    <span>Welcome {{user}}</span>
  </div>

  <div>
    
    <button ng-click='logOut()' style="width:200px;height:70px">Log Out</button>
  </div>

  <div id='userItemList'>
    <label>Search by Price</label><input type="text" name="price" ng-model="price"></input>
    <br>
    <br>
    <li ng-repeat='item in items | filter: price'>
      <h2>{{item.Title}}<h2>
      <p>{{item.Description}}</p>
      <p>Listed Price: {{item.ListPrice}}</p>
      <p>Listed Date: {{item.ListDate}}</p>
      <p>Zip Code: {{item.ZipCode}}</p>
      <span>Accepted Date: {{item.AcceptedDate}}</span>
      <button ng-click='acceptRequest()' style="width:200px;height:40px">Accept Request</button>
    </li>
  </div>
</div>
</div>
