<div class="homepage" ng-controller='mainController'>

  <div class="nav-pill">
    <button ng-click='directToSignUpPage()' style="width:100px;height:30px">Sign Up</button><button ng-click='logIn()' style="width:100px;height:30px">Log In</button>
  </div>

  <div id="logInPage">
    <form name="logInForm">
      <label> Cell Number </label>
      <input id='logInCellNumber' type='string' ng-model="userCellNumber" style="height:20px" required>
      <label> Password </label>
      <input id='logInPassword' type="string" ng-model="userPassword" style="height:20px" required>
      <button ng-click='realLogIn()' style="width:100px;height:30px">Log In</button>
    </form>
  </div>

  <div id="finalSales">

      <div class="ke-item" ng-repeat="item in itemList">
        <img src='http://karmatest1.azurewebsites.net/images/{{item.Images[0]}}' height="100px" width="100px">
        <div class="ke-title">{{item.Title}}</div>
        <div class="ke-price">{{item.ListPrice}}</div>
      </div>
  </div>

  <div style="clear:both"></div>
  <br/>
  
<!-- <div id="expertReview">
  <ul ng-repeat"expert in expertList">
    <li>{{expert.First</li>
    <li>expert.Last</li>
    <img src="http://karmatest1.azurewebsites.net/images/{{expert.Image}}">
  </ul>
</div> -->




<div id="expertReview">
    <ul ng-repeat='expert in expertList'>
      <div class="container-fluid well span6 expert">
        <div class="row-fluid">
          <div class="span2">
            <img src="http://karmatest1.azurewebsites.net/images/{{expert.Image}}" class="img-circle" width="200px" height="200px" style="float:left">
            <span class="span8" style="display:inline">
              <li>{{expert.First}}</li>
              <li>{{expert.Last}}</li>
              <li>{{expert.Address}}</li>
              <li>{{expert.Ebay}}</li>
              <li>{{expert.ZipCode}}</li>
            </span>
          </div>
        </div>
      </div>
    </ul>
  </div>




  
</div>