<div class="homepage" ng-controller='mainController'>

  <div id="login">
    <h3><button ng-click='signUp()'>Sign Up</button></h3>
    <h3><button ng-click='logIn()'>Log In</button></h3>
    <div id="logInPage">
      <h1>Login Page goes here!</h1>
      <h1>Login Page goes here!</h1>
      <h1>Login Page goes here!</h1>
    </div>
  </div>

  <div id="expertReview">
    <li ng-repeat='expert in expertList'>
      <div>
        <table>
          <tr><th>Name</th><th>{{expert.name}}</th></tr>
          <tr><td>Address</td><td>{{expert.address}}</td></tr>
          <tr><th>Profile</th><th>{{expert.profile}}</th></tr>
          <tr><td>Ebay Link</td><td>{{expert.ebayLink}}</td></tr>
          <tr><th>Item Sold</th><th>{{expert.itemSold}}</th></tr>
        </table>
      </div>
    </li>
  </div>

  <marquee behavior="scroll" direction="left">

  <div id="finalSales">
    <table>
      <td ng-repeat='item in itemList'>
        <p>{{item.name}}</p>
        <p>{{item.description}}</p>
        <p>{{item.price}}</p>
        <p>{{item.listdate}}</p>
      </td>
    </table>

  </marquee>
  
  </div>
</div>