<div class="userPage" ng-controller='userController'>
  <h1>This is the user Page!!!</h1>
  <div id='userProfile'>
    <span>Welcome {{user}}</span>
  </div>

  <div>
    <button ng-click='postItem()' style="width:200px;height:70px">Post Item</button>
    <button ng-click='logOut()' style="width:200px;height:70px">Log Out</button>
  </div>

  <div>
    <form name="postItemForm">
      <input id='postItemTitle' type='string' required>
      <input id='postItemDescription' type="string" required>
      <input id='postItemPrice' type="number" required>
      <button ng-click='postItem()'>Post!</button>
    </form>
  </div>

  <div id='userItemList'>
    <li ng-repeat='item in itemList'>
      <h2>{{item.Title}}<h2>
      <p>{{item.Description}}</p>
      <p>Listed Price: {{item.ListPrice}}</p>
      <p>Listed Date: {{item.ListDate}}</p>
    </li>
  </div>
</div>
